In [3]:
import numpy as np
import pandas as pd

In [5]:
ser = pd.Series(np.random.rand(20))

In [6]:
ser

0     0.240355
1     0.302063
2     0.323926
3     0.647051
4     0.449093
5     0.869580
6     0.740258
7     0.829562
8     0.627600
9     0.558226
10    0.217859
11    0.720600
12    0.574391
13    0.924654
14    0.538678
15    0.375512
16    0.129138
17    0.707081
18    0.243634
19    0.295182
dtype: float64

In [7]:
type(ser)

pandas.core.series.Series

In [8]:
Df = pd.DataFrame(np.random.rand(250,5),index=np.arange(250))

In [9]:
Df

            0         1         2         3         4
0    0.097678  0.576776  0.940982  0.112273  0.393187
1    0.171949  0.765761  0.716249  0.214942  0.442491
2    0.019614  0.856534  0.762463  0.675108  0.171056
3    0.368075  0.602402  0.926846  0.324364  0.078025
4    0.644375  0.014702  0.026456  0.129651  0.508554
..        ...       ...       ...       ...       ...
245  0.640448  0.755565  0.397507  0.087767  0.484827
246  0.114006  0.085296  0.952419  0.993037  0.051184
247  0.607418  0.384773  0.694866  0.477675  0.188311
248  0.986158  0.966834  0.270727  0.279865  0.582756
249  0.603232  0.333036  0.675969  0.887525  0.114518

[250 rows x 5 columns]

In [10]:
Df.head()

          0         1         2         3         4
0  0.097678  0.576776  0.940982  0.112273  0.393187
1  0.171949  0.765761  0.716249  0.214942  0.442491
2  0.019614  0.856534  0.762463  0.675108  0.171056
3  0.368075  0.602402  0.926846  0.324364  0.078025
4  0.644375  0.014702  0.026456  0.129651  0.508554

In [11]:
Df.describe()

                0           1           2           3           4
count  250.000000  250.000000  250.000000  250.000000  250.000000
mean     0.492657    0.490973    0.494486    0.492504    0.471688
std      0.295591    0.292336    0.289881    0.279131    0.285368
min      0.000886    0.007711    0.001983    0.001956    0.002414
25%      0.230278    0.248159    0.274847    0.263064    0.232263
50%      0.493089    0.467763    0.483141    0.493324    0.450393
75%      0.731417    0.729525    0.740117    0.732600    0.723861
max      0.999484    0.999370    0.997394    0.993037    0.999907

In [12]:
Df.dtypes

0    float64
1    float64
2    float64
3    float64
4    float64
dtype: object

In [13]:
Df[0][0] = 'Sudarshan'

In [14]:
Df.head()

           0         1         2         3         4
0  Sudarshan  0.576776  0.940982  0.112273  0.393187
1   0.171949  0.765761  0.716249  0.214942  0.442491
2   0.019614  0.856534  0.762463  0.675108  0.171056
3   0.368075  0.602402  0.926846  0.324364  0.078025
4   0.644375  0.014702  0.026456  0.129651  0.508554

In [16]:
Df.dtypes

0     object
1    float64
2    float64
3    float64
4    float64
dtype: object

In [17]:
Df.index

Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
            ...
            240, 241, 242, 243, 244, 245, 246, 247, 248, 249],
           dtype='int64', length=250)

In [19]:
Df.columns

RangeIndex(start=0, stop=5, step=1)