In [1]:
#pythagorus theorm
a = int(input("Enter the value of a :"))
b =  int(input("Enter the value of b :"))
c =  int(input("Enter the value of c :"))

if (a**2+b**2==c**2) or (a**2 + c**2 == b**2) or (b**2 + c**2 == a**2):
    
    print("Right angled traingle")
    
else:
    print("Not right angled")

Enter the value of a :35445
Enter the value of b :556
Enter the value of c :677
Not right angled

In [2]:
# nested if else statements
marks = int(input("Enter the marks"))

if marks>150:
    print("COEP")
    
elif marks> 160:
    print("PICT")
    
else:
    print("Welcome to IIT Narhe ðŸ˜‚ðŸ˜‚")
    if marks >130:
        print("eligible for computer department")
    elif marks>100:
        print("eligible for IT")
    else:
        print("Out of IIT Narhe")

Enter the marks34
Welcome to IIT Narhe ðŸ˜‚ðŸ˜‚
Out of IIT Narhe

In [12]:
l = [2,5,8,3,9,11,90]
k = []
s = []
for i in l:
    if(i%2==0):
        print(f"{i} is Even number")
    else:
        print(f"{i} is odd number")
print("--------------------------")

for i in l:
    if(i<=5):
        print("Number is smaller than 5")
        print(i**2)
    
    else:
        print(i)

2 is Even number
5 is odd number
8 is Even number
3 is odd number
9 is odd number
11 is odd number
90 is Even number
--------------------------
Number is smaller than 5
4
Number is smaller than 5
25
8
Number is smaller than 5
9
9
11
90

In [27]:
print("Table of 2 : ")
for i in range(1,11):
    print(f"2*{i} = {2*i}")

Table of 2 :
2*1 = 2
2*2 = 4
2*3 = 6
2*4 = 8
2*5 = 10
2*6 = 12
2*7 = 14
2*8 = 16
2*9 = 18
2*10 = 20

In [30]:
# even number bet 1 to 30
for i in range(1,31):
    if(i%2==0):
        print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30

In [31]:
for i in range(1,11):
    print(7*i)

7
14
21
28
35
42
49
56
63
70

In [33]:
i = 1
while i<=10:
    print(2*i)
    i+=1

2
4
6
8
10
12
14
16
18
20