In [4]:
import pandas as pd
import numpy as np

In [5]:
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
%matplotlib inline

In [7]:
!conda install xlrd

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.

In [19]:
df =pd.read_excel("Internship Assignment.xlsx",sheet_name='Data for Assignment 1',index_col=0)

In [20]:
df.head()

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
NaN,Name of the Instrument,ISIN,Industry^ / Rating,% to Net Assets
NaN,Equity & Equity related,NaN,NaN,NaN
NaN,(a) Listed / awaiting listing on Stock Exchange,NaN,NaN,NaN
NaN,GMR Infrastructure Limited,INE776C01039,Transport Infrastructure,0.062928
NaN,Adani Enterprises Limited,INE423A01024,Metals & Minerals Trading,0.05747

In [21]:
df.drop(df.columns[[0,1]],axis=1,inplace=True)

In [22]:
df.head()

                    Unnamed: 3       Unnamed: 4
NaN         Industry^ / Rating  % to Net Assets
NaN                        NaN              NaN
NaN                        NaN              NaN
NaN   Transport Infrastructure         0.062928
NaN  Metals & Minerals Trading          0.05747

In [26]:
df.reset_index(inplace=True)

In [29]:
df.drop(df.columns[0],axis=1,inplace=True)

In [30]:
df.head()

                  Unnamed: 3       Unnamed: 4
0         Industry^ / Rating  % to Net Assets
1                        NaN              NaN
2                        NaN              NaN
3   Transport Infrastructure         0.062928
4  Metals & Minerals Trading          0.05747

In [32]:
df.drop(df.index[0],inplace=True)

In [33]:
df.dropna(inplace=True)

In [34]:
df.head()

                  Unnamed: 3 Unnamed: 4
3   Transport Infrastructure   0.062928
4  Metals & Minerals Trading    0.05747
5         Petroleum Products   0.045461
6                      Banks   0.044616
7                      Banks    0.03551

In [39]:
df1=df.groupby(df[df.columns[0]]).sum()

In [43]:
df1[df1.columns[0]].astype('float64')

Unnamed: 3
Agricultural Commercial & Construction Vehicles    0.008672
Agricultural Food & other Products                 0.006949
Auto Components                                    0.017233
Automobiles                                        0.017990
Banks                                              0.156981
Beverages                                          0.008494
Cement & Cement Products                           0.016659
Chemicals & Petrochemicals                         0.013541
Construction                                       0.010862
Consumer Durables                                  0.031087
Diversified FMCG                                   0.018278
Diversified Metals                                 0.030009
Entertainment                                      0.003810
Ferrous Metals                                     0.001228
Finance                                            0.048207
Food Products                                      0.002384
Government Securities                              0.048219
Healthcare Services                                0.010729
IT - Software                                      0.036338
Industrial Products                                0.021900
Leisure Services                                   0.013520
Metals & Minerals Trading                          0.057470
Money Market Instruments                           0.015152
Mutual Fund Units                                  0.142906
Non - Ferrous Metals                               0.010108
Petroleum Products                                 0.045461
Pharmaceuticals & Biotechnology                    0.017058
Retailing                                          0.007640
Telecom - Services                                 0.013496
Transport Infrastructure                           0.062928
Name: Unnamed: 4, dtype: float64

In [45]:
df1.head()

                                                 Unnamed: 4
Unnamed: 3
Agricultural Commercial & Construction Vehicles    0.008672
Agricultural Food & other Products                 0.006949
Auto Components                                    0.017233
Automobiles                                        0.017990
Banks                                              0.156981

IndexError: index 1 is out of bounds for axis 0 with size 1